:root {
  --primary: #f6851f;
  --secondary: #1c9ebc;
  --tertiary: #663996;
  --yellow: #f9b510;
  --pink: #b865a3;
  --light-blue: #8ecbe8;

  /* Update Shoelace theme colors */
  --sl-color-primary-500: var(--primary);
  --sl-color-primary-400: var(--light-blue);
  --sl-color-secondary-500: var(--secondary);
  --sl-color-tertiary-500: var(--tertiary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: var(--tertiary);
}

header {
  background-color: var(--tertiary);
  color: white;
  padding: 2rem 0;
  text-align: center;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

header .subtitle {
  font-size: 1.1rem;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5;
}

footer {
  background-color: var(--tertiary);
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}